.navbar{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    padding-left: 20px;
    list-style: none;

    li{
        display: inline-block;
        margin-right: 20px;

        a{
            text-decoration: none;
            font-size: 14px;
            color: var(--color-slate-gray);
        }

        a:hover{
            color: var(--color-charcoal);
        }
    }

}